[submodule "layout/pangenome_layout"]
	path = layout/pangenome_layout
	url = https://github.com/aswarren/pangenome_layout.git
[submodule "viewer/gexf-js"]
	path = viewer/gexf-js
	url = https://github.com/aswarren/gexf-js.git
	branch = patric_links
